body{
    color:rgb(230, 132, 5);
    background-color: rgb(73, 72, 72);
    font-family: 'Tilt Neon', cursive ,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    
}

h2{

}

p{
    
}