header{
	color: white;
	position: absolute;
	left: 16%;
	background-color: darkgrey;
	height:auto;
	width: 83%;
}

footer{
	color: white;
	position: fixed;
	left: 16%;
	bottom: 1%;
	height:auto;
	width: 83%;
}

body
{
	background-image: url("../images/tile.png");
	background-color: rgb(67, 70, 100);
}

.bg {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}


.middle {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
	padding-right:5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: auto;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.link a:hover{
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.cv{
	position: absolute;
	top:2%;
	left:19%;
	height: 99%;
	width: 80%;
}

pre{
  text-align: left;
  display: inline-block;
  margin-left: 9%;
  background-color: lightgray;
  border:0.3vw;
	padding:2px;
  border-style: groove;
  border-color: darkgrey;
	font-size: 1.25em;
	text-align: center;
}

p{
	text-align: left;
	display: inline-block;
	margin-left: 15.6%;
	margin-right: 0.5%;
	margin-top: 2%;
	background-color: lightgray;
	border:0.3vw;
	border-style: groove;
	border-color: darkgrey;
	font-size: 1.25em;
	text-align: left;
}

.split {
  height: 50%;
  width: 42.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split2{
	height: 50%;
	width: 40%;
	position: absolute;
	overflow-x: hidden;
}

.left {
  left: 16%;
}

.right {
  left: 57.5%;
}

.left2 {
  left: 16%;
	top:50%;
}

.right2 {
  left: 57.5%;
	top:50%;
}

.center{
	left:37%;
	top:50%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
	height:25vw;
	width:41vw;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

canvas{
	position: absolute;
	left: 16%;
	top: 4%;
	background: grey;
}
