body
{
	background-color: rgb(67, 70, 100);
}
#header
{
	background:grey;
	height: 4rem;
}


body, html {
  height: 100%
}

.bg {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}


.middle {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
body {
  font-family: "Courier New", Courier, monospace;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
	padding-right:5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.cv{
	height: 99%;
	width: 81%;
	margin-left: 19%;
}
pre{
    text-align: left;
    display: inline-block;
    margin-left: 9%;
    background-color: lightgray;
    border:5px;
		padding:2px;
    border-style: groove;
    border-color: darkgrey;
		font-size: 1.25em;
		text-align: center;
}
